html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F3F3;
    /* background-color: #1F1F1F; */
}
body {
    margin: 0px;
}
.container{
    height: auto;
    width: auto;
    border: #000 solid 5px;
}
.top{
    text-align: center;
    width: auto;
    max-height: 10vh;
    border:#0f0 solid 5px;
}
.top-logo{
    max-height: 10vh;
}
.left-pane{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
    width: 15%;
    height: auto;
    border: #BC1142 solid 5px;
}
.content{
    margin-left: 1%;
    display: inline-block;
    max-width: 80%;
    width: auto;
    height: auto;
    border: #00f solid 5px;
}
.menu{
    font-size: 14pt;
    border: #00f solid 5px;
}
#centerText{
    text-align: center;
}