html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F3F3;
    /* background-color: #1F1F1F; */
}
body {
    margin: 0px;
}
.container{
    height: auto;
    width: auto;
    border: #000 solid 5px;
}
.top{
    text-align: center;
    width: auto;
    max-height: 10vh;
}
.top-logo{
    max-height: 10vh;
}
.center{
    border:#0ff solid 5px;
    display: flex;
}
.left-pane{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 15%;
    height: auto;
    border: #BC1142 solid 5px;
}
.left-pane a{
    text-decoration: none;
}
.content{
    padding-left: 15px;
    width: 100%;
    height: auto;
    border: #00f solid 5px;
}
.menu{
    text-decoration: none;
    padding: 5px 0px 5px 10px;
    font-size: 14pt;
    color: #BC1142;
    border-radius: 30px;
}
.menu:hover{
    color: #ff0048;
    background-color: #FFF;
}
.footer{
    text-align: center;
}
.login{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    width: 200px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #BC1142;
    background-color: #F7F7F7;
    color: #777777;
    border-radius: 30px;
}
.input:focus {
    color: #BC1142;
    outline: none;
}
.button{
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #BC1142;
    background-color: #BC1142;
    color: #FFF;
    border-radius: 30px;
    cursor: pointer;
}
.button:hover {
    background-color: #ff0048;
    color: #FFF;
}
.button:active {
    background-color: #BC1142;
}
.button:focus {
    outline: none;
}
.hr{
    width: 90%;
    color: #BC1142;
    background-color: #BC1142;
    height: 1px;
    border-width:0;
}
.errorMessage{
    color: #F00;
}
#dynamicName{
    text-align: center;
    color: #BC1142;
}
#justifyCenter{
    justify-content: center;
}
#color{
    color: #BC1142;
}