:root {
    --mainColor: #F3F3F3;
    --accentColor: #BC1142;
    --highlightColor: #FF0048;
    --inputBgColor: #F7F7F7;
    --inputFontColor: #777777;
    --menuHoverColor: #777777;
    --fontColor: #FFF;
    --errorFontColor: #F00;
  }
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--mainColor);
}
body {
    margin: 0px;
}
.container{
    height: auto;
    width: auto;
    border: #000 solid 5px;
}
.top{
    text-align: center;
    width: auto;
    max-height: 10vh;
}
.top-logo{
    max-height: 10vh;
}
.center{
    border:#0ff solid 5px;
    display: flex;
}
.left-pane{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 15%;
    height: auto;
    border: #BC1142 solid 5px;
}
.left-pane a{
    text-decoration: none;
}
.content{
    padding-left: 15px;
    width: 100%;
    height: auto;
    border: #00f solid 5px;
}
.menu{
    text-decoration: none;
    padding: 5px 0px 5px 10px;
    font-size: 14pt;
    color: var(--accentColor);
    border-radius: 30px;
}
.menu:hover{
    color: var(--highlightColor);
    background-color: var(--fontColor);
}
.footer{
    text-align: center;
}
.login{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    width: 200px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #BC1142;
    background-color: var(--inputBgColor);
    color: var(--menuHoverColor);
    border-radius: 30px;
}
.input:focus {
    color: var(--accentColor);
    outline: none;
}
.button{
    width: 100px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #BC1142;
    background-color: var(--accentColor);
    color: var(--fontColor);
    border-radius: 30px;
    cursor: pointer;
}
.button:hover {
    background-color: var(--highlightColor);
    color: var(--fontColor);
}
.button:active {
    background-color: var(--accentColor);
}
.button:focus {
    outline: none;
}
.hr{
    width: 90%;
    color: var(--accentColor);
    background-color: var(--accentColor);
    height: 1px;
    border-width:0;
}
.errorMessage{
    color: var(--errorFontColor);
}
#dynamicName{
    text-align: center;
    color: var(--accentColor);
}
#justifyCenter{
    justify-content: center;
}
#color{
    color: var(--accentColor);
}